.button {
  background-color: $primary-color;
  border: none;
  border-radius: $button-border-radius;
  min-width: $button-width;
  height: $button-height;
  padding: 4px 19px;
  font-size: 16px;
  line-height: 1.62;

  color: $black-color;
  text-decoration: none;

  transition: background-color 300ms linear 0ms;
  cursor: pointer;

  &:hover {
    background-color: $button-hover-color;
  }

  &:disabled {
    background-color: $disabled-color;
    color: #fff;
  }
}
