.header {
  width: 100vw;
  background-color: $white-color;

  &__wrapper {
    max-width: $max-width-content;
    padding: 0 16px;
    margin: 0 auto;

    @include onTablet {
      padding: 0 32px;
    }

    @include onDesktop {
      padding: 0 60px;
    }
    
    @include onMaxWidth {
      padding: 0;
    }
  }

  &__content {
    @include flexBetween;

    padding: 13px 0;
    width: 100%;
    margin: 0 auto;
  }

  &__buttons {
    display: flex;

    &--padding {
      padding-right: 10px;
    }
  }
}
