.header {
  width: 100vw;
  background-color: $color-white;

  &__content {
    @include flexBetween;
    max-width: $max-width-content;

    padding: 13px 16px;
    width: 100%;
    margin: 0 auto;

    @include onTablet {
      padding: 13px 32px;
    }

    @include onDesktop {
      padding: 13px 60px;
    }
  }

  &__buttons {
    display: flex;

    &--padding {
      padding-right: 10px;
    }
  }
}
