// main colors
$primary-color: #f4e041;
$secondary-color: #00bdd3;
$background-color: #f8f8f8;
$color-black: rgba(0, 0, 0, 0.87);
$color-white: #ffff;
$color-error: #cb3d40;

// main-width
$max-width-content: 1170px;

// header
$header-logo-padding: 14px;

// button
$button-width: 100px;
$button-height: 34px;
$button-border-radius: 80px;
$button-hover-color: #ffe302;
$button-disabled-color: #b4b4b4;

//heading
$h1-large-size: 40px;
$h1-line-height: 40px;

// input
$input-border-color: #d0cfcf;
$input-border-color-error: #cb3d40;

// users section
$base-padding-size-card: 20px;
